<footer>
    <div class="row" style="justify-content: space-around">

        <div class="col-md-4 col-sm-12 text-center d-flex" style="justify-content: flex-start">
            <p>&copy; <script>document.write(new Date().getFullYear())</script>, {{site.data.info.name}}</p>

        </div>

        <div class="col-md-4 col-sm-12 text-center  d-flex" style="justify-content: flex-end">
            {% for item in site.data.navigation %}
            <a href="{{base_url}}{{ item.link }}" {% if page.url==item.link %}class="current" {% endif %}>
                {{ item.name | upcase }}
            </a> &nbsp;
            {% endfor %}
        </div>
    </div>
</footer>
